<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="mx-auto">
        自分のだらしない体にむかっ腹が立ったことはないでしょうか？<br />
        当サイトでは、The Mifflin, M. D., St Jeor formula という筋トレ大国・アメリカで最もポピュラーな計算式の中の一つを用いており、<br />
        会員登録時の項目を選択するだけで、簡単に一日に必要な摂取カロリーがわかります。<br />
        そして同時に筋トレ、自身の身体の記録をすることで、容易に自分の成長、努力を振り返ることができます。<br />
        少しずつでも成長していることに対する充実感や満足感によって、モチベーションを保ちましょう。<br />

        <ul class="list-unstyled">
          <li><%= link_to "新規登録", new_user_registration_path, class: "btn btn-success w-25 mt-2" %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: "btn btn-primary  w-25 mt-2" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>